{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />
  </head>

  <body>
    <div class="main_login">
      <div class="right_login">
        <h1>Esqueceu a senha?</h1>
        <div class="card_login">
          <h1>Insira seu e-mail e enviaremos um link de recuperação</h1>
          <form method="post">
            {% csrf_token %}
            <div class="textfield">
              {{ form.email.label_tag }} {{ form.email }}
            </div>
            <button type="submit" class="btn_send">Enviar</button>
          </form>
          <a href="{% url 'login' %}" id="login_link"
            >Voltar à página de login</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
