{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Painel Administrativo</title>
    <link rel="stylesheet" href="{% static 'css/painel.css' %}" />
  </head>
  <body>
    <h2>Painel Administrativo</h2>
    <p>Bem-vindo, {{ user.username }}!</p>

    <ul>
      <li><a href="/admin/">Ir para o painel Django</a></li>
      <li><a href="{% url 'gestao_produtos' %}">Gestão de produtos</a></li>
      <li>
        <a href="{% url 'cadastrar_produto' %}">Adicionar novo produto</a>
      </li>
      <li><a href="{% url 'gestao_categorias' %}">Gestão de categorias</a></li>
      <!-- ✅ NOVO LINK -->
      <li>
        <a href="{% url 'lista_produtos' %}">Ver produtos (institucional)</a>
      </li>
      <li><a href="{% url 'home' %}">Ver Home Page</a></li>
      <li>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Sair</button>
        </form>
      </li>
    </ul>
  </body>
</html>
