{% extends 'bases/base_admin_produto.html' %}
{% load static %}
{% block title %}Cadastro de Produtos{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/produtos.css' %}" />

<div class="form-container">
  <h2>Adicione um produto</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="botao-acao" style="margin-top: 15px;">Salvar</button>
  </form>

  <div class="botoes-navegacao" style="margin-top: 30px;">
    <a href="{% url 'gestao_produtos' %}">
      <button class="botao-acao">← Produtos Cadastrados</button>
    </a>
    <a href="{% url 'painel_admin' %}">
      <button class="botao-acao">🏠 Painel de Controle</button>
    </a>
  </div>
</div>

{% endblock %}
