{% load static %}
<link rel="stylesheet" href="{% static 'css/produtos.css' %}" />

<div class="form-container">
  <h2>Editar Produto</h2>

  <a href="{% url 'gestao_produtos' %}" class="voltar"
    >← Produtos Cadastrados</a
  >

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Salvar</button>
  </form>

  <div class="botoes-navegacao">
    <a href="javascript:history.back()">
      <button>← Voltar</button>
    </a>
    <a href="{% url 'painel_admin' %}">
      <button>🏠 Painel de Controle</button>
    </a>
  </div>
</div>
